{% extends "main_template.html" %}
{% block content %}
<h1>About Me</h1>
<p>
I've never been particularly good at talking about myself, so hopefully talking about my interests and passions should give you insight into myself as a person.
</p>
<p>
Growing up, I've had a laptop infront of me early in life. Back when that was a rare thing, anyway. It was a boxy thinkpad which I still miss to be honest. I think that was a big contributing factor in my curiosity with programming, and eventually coding. Flash games were my first introduction where I thought "Hey, that's cool. How do I do that?". I never made anything in Flash before it ended up shutting down a few years ago, but the gateway it was served its purpose for me.
</p>
<br>
<p>
So, from there I kept coding! Between webpages, text MUD games, game modding, and data parsing, I've tried to bring software into becoming solutions for every tibbit of my life. It wasn't until halfway through college that I actually considered it for a career choice. I had originally aimed to be a Mechanical Engineer, but at some point I had a moment of reflection where I had to decide between continuing my current degree path, or shifting towards my passion. It's not as thought Mechanical Engineering was out of scope -- I like making and designing things -- but I realized that what I really want out of my future career is a chance to apply my mind.
</p>

{% endblock %}
