{% extends "main_template.html" %}
{% block content %}
<h1> Capstone - APA Wiki </h1>
<p>
Hosted through the advisory of CSCI426 and CSCI247, I worked with the American Packrafting Association (Further referred to as the APA) to design a new wiki. The problem with the current information landscape was that there is a large assortment of resources That may not sound like an issue in-and-of-itself, but when you have to access a separate 5 sites to organize a single trip, it can become cumbersome for all user groups ranging from experienced to fresh.
</p>
<p>
Enter us, where with the collaboration of my team members we worked through various stages of requirement specification, real world survey dispersement, client interviews, and model development in both low-fidelity and high-fidelity stages. In Spring 2026, we will begin the main development phase of the website concluding with a complete release for APA.
</p>
<br>
<p>
This project will primarily take advantage of the robust framework of <a href="https://www.mediawiki.org" target="_blank">MediaWiki</a>, which has grown in popularity in recent years thanks to the customization, database ease, freedom of use, and ability to host instances compared to common community wiki resources such as say "Fandom". Through this framework, we hope to develop an online repository of information connecting the resources of organizations such as American Canoe Association, American Whitewater, APA, and independant Packrafting communities.
</p>
<br>
<p>
Further information about the development cycle can be found on the <a href="https://webdev.cs.umt.edu/~yr168230e/Capstone_projects/index.html" target="_blank"> CSCI426/427 project page</a>, which also hosts projects from other development teams.
{% endblock %}
