{% extends "main_template.html" %}
{% block content %}
<h1>Showcased Projects</h1>
<p>As a natural part of my growth as a student, I've slowly collected artefacts over time representing my interests and various stages of progress in coding and, more broadly, computer science as a whole. While unlike with my About section, it's much easier for me to talk about the things I've done and the things I like rather than about myself.</p>
<p>
Here you can learn about my HTML art pages, my cookbook webpages, some other assorted things including my game dev projects, and finally my senior capstone which will be completed in 2026.
</p>
{% endblock %}
