{% extends "main_template.html" %}
{% block content %}
<h1> Internships and Professional Experience </h1>
<p>During my college career, I've done two internships with different organizations. In 2024 I worked as an Administrative Assistant at Campus Compact which was in the midst of rebranding as MCNCE. There, I mainly worked on volunteer databases with information from Qualtircs surveys, but it eventually accumulated to designing and releasing their updated wordpress website from the ground up. In 2025, I worked as an Office Assistaint at the Mansfield Center where I helped with international affairs, application review, updated their websites for current yearly information, and notably helped with an implementation to migrate all the users to a new database with no collisions.</p>
{% endblock %}
