{% extends "main_template.html" %}
{% block content %}
<h1> Home Page </h1>
<h2>Salutations!</h2>
<p>
Welcome to my E-Portfolio page, which you should hopefully find enjoyable to skim in some degree. This exists as a collection of notable projects throughout my college terms from 2022 to 2026. The ones still hosted, anyway. R-I-P to that old gitpages automated system I never kept up to date.
</p>
<p>
You will find no photos here of me, but I supplemented some of these pages either with project photos or my own casual photography. I like to bird watch in my spare time, and perhaps some of those photos can find a home here.
</p>
<hr>
<br>
<h2>Table of Contents</h2>
<ol>
<li><b>About</b></li>
<p>A page biographing the broad strokes of my college experience, and my professional work (which is elaborated further in the "Experiences" section).</p>
<li><b>Artefacts</b></li>
<p>Some notable pieces of my history that are still preserved, ranging from basic Media Arts assignments in HTML to ReactJS cookbooks.</p>
<li><b>Experience</b></li>
<p>A section dedicated to my professional experiences in college, limited to my work with MCNCE in 2024 and the Mansfield Center in 2025, where I worked as an Administrative Assistant and Office Assistant respectively.</p>
</ol>
{% endblock %}
