<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ html_title if html_title else "WS - Portfolio" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <!-- Header -->
    <header class="header">
        <h1>Weslee Shear | Portfolio</h1>
    </header>

    <!-- Navigation -->
    <nav class="nav">
        <ul>
            <li><a href="{{ url_for('home.index') }}" class="{{ 'active' if page == 'Home' else '' }}">Home</a></li>
            <li><a href="{{ url_for('about.index') }}" class="{{ 'active' if page == 'About' else '' }}">About</a></li>
            <li><a href="{{ url_for('artefacts.index') }}" class="{{ 'active' if page == 'Artefacts' else '' }}">Artefacts</a></li>
            <li><a href="{{ url_for('experience.index') }}" class="{{ 'active' if page == 'Experience' else '' }}">Experience</a></li>
        </ul>
         {% if subpages %}
         <hr>
         <ul class="sub-nav">
            {% for view in subpages %}
            <li>
            <a href="{{ url_for(view.endpoint) }}"
            class="{{ 'active' if page == view.name else '' }}">
            /{{ view.name }}
            </a>
            </li>
            {% endfor %}
         </ul>
         {% endif %}
    </nav>

    <!-- Main content area -->
    <article class="content">
        {% block content %}
        <h1>you forgot your page block</h1>>
        {% endblock %}
    </article>

    <!-- Sidebar (optional extra info or contact) -->
    <aside class="aside">
        <h3>External Links</h3>
        <ul>
            <li><a href="https://github.com/WesleeS" target="_self">University Github</a></li>
            <li><a href="https://linkedin.com/in/weslee-s/" target="_self">LinkedIn</a></li>
            <li><a href="https://ws-um.itch.io/" target="_self">Itch.io</a></li>
        </ul>
    </aside>

    <!-- Ads/Extra panel (optional) -->
    <aside class="advert">
        <h3>Featured Project</h3>
        <a href="{{ url_for('artefacts.capstone') }}" target="_self" >Click here to learn more about my work with the American Packraft Association (APA)</a>
    </aside>

    <!-- Footer -->
    <footer class="footer">
        <p>Interested in inquiry? Contact me through a <a href="mailto:vxp7yw0zl@mozmail.com" target="_blank">Mozilla Email Relay!</a></p>
        <p>Image content such as backgrounds are produced from my own photography and design</a></p>
    </footer>
</div>

</body>
</html>
